/* ////////////////////////// */

/* the generals */

body {padding: 0;
      margin: 0;
}
a {text-decoration: none;
   color: inherit;
}
ul {padding: 0;
    margin: 10px;
}
ul li {list-style: none;
}

/* ////////////////////////// */

/* ////////////////////////// */

/* reusables */

.container {padding: 0 20%;
}
.headers {font-size: 36px;
          font-weight: bold;
          text-align: center;
          color: #7D49EC;
          font-family: roboto;
}
.flex {display: flex;
}
.flex-wrap {display: flex;
            flex-wrap: wrap;
}
.styled-numbers {background-color: rgba(125, 73, 236, 0.2);
                 color: #7D49EC;
                 padding: 10px 17px;
                 border-radius: 100px;
}

.flex-center-item {display: flex;
                   justify-content: center;
                   align-items: center;
}
.phone-brief-intro {height: 355px;
                    width: 300px;
}

/* ////////////////////////// */

/* main - desktop screen */


/* ////////////////////////// */

/* header styles */

header .container {padding-top: 20px;
                   color: #7E7E7E;
                   font-family: roboto;
                   font-size: 14px;
}
header .mobile, header .nav-bar {flex: 1;
}
header .mobile i {display: none;
}
header ul {justify-content: space-evenly;
}
header button {background-color: white;
               border: 1px solid #7D49EC;
               color: #7D49EC;
               border-radius: 3px;
               width: 80px;
               height: 30px;
               margin-top: -5px;
               /* padding: 5px 10px; */
}
header button:hover {background-color: #7D49EC;
                     color: white;
}

/* header styles */

/* ////////////////////////// */


/* ////////////////////////// */

/* section one */

.section-one {padding: 70px 0;
}

.section-one  .part {margin: 20px;
}
.section-one  .first-part {flex: 2;
}
.section-one  .second-part {flex: 1;
}
.section-one h1 {font-weight: bold;
                 color: #7D49EC;
                 font-size: 48px;
                 font-family: roboto;
}
.section-one p {font-size: 22px;
                color: #7E7E7E;
                line-height: 36px;
                font-family: roboto slab;
                line-height: 40px;
                margin: 0 0 30px;
}
.section-one button {background-color: #7D49EC;
                     width: 100px;
                     height: 40px;
                     border-radius: 5px;
                     color: white;
                     border: none;
                     outline: none;
}
.section-one .second-part img {width: 225px;
                               height: 400px;
}

/* section one */

/* ////////////////////////// */


/* ////////////////////////// */

/* section two */

.section-two li {margin: 15px;
                 width: 30%;
}
.section-two h3 {color: #7D49EC;
                 font-size: 24px;
                 font-family: roboto;
                 font-weight: 500;
}
.section-two h3 span {margin-right: 20px;
}
.section-two p {color: #7E7E7E;
                font-size: 14px;
                line-height: 24px;
                font-family: roboto slab;
}

/* section two */

/* ////////////////////////// */


/* ////////////////////////// */

/* section three */

.section-three li {box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.08);
                   width: 45%;
                   padding: 10px 30px;
                   box-sizing: border-box;
                   justify-content: center;
                   align-items: center;
                   margin: 20px;
}
.section-three .text-area {flex: 4;
}
.section-three i {flex: 1;
                  font-size: 24px;
                  color: #7D49EC;
}
.section-three h5 {color: #7D49EC;
                   font-size: 24px;
                   margin: 5px 0 -10px;
                   font-family: roboto;
}
.section-three p {color: #7E7E7E;
                  font-family: roboto slab;
}
.section-three button {background-color: white;
                       outline: none;
                       border: 1px solid #7D49EC;
                       width: 100px;
                       height: 35px;
                       border-radius: 3px;
                       color: #7D49EC;
}
.section-three button:hover {background-color: #7D49EC;
                             color: white;
                             border: none;
}
.section-three .more-details {padding: 0 100px;
                              flex-direction: column;
                              color: #7D49EC;
                              text-align: center;
}
.section-three h3 {font-family: roboto slab;
                   font-weight: 400;
                   font-size: 14px;
                   padding: 0 5px;
                   line-height: 24px;
}

/* section three */

/* ////////////////////////// */


/* ////////////////////////// */

/* section four */

.section-four .headers {color: white;
                        padding: 20px;
}

.section-four .step-one,
.section-four .step-three {background-color: #7D49EC;
                           padding: 0;
                           margin: 30px 0;
}
.section-four .main {padding: 50px 0;
}
.section-four .details {flex-direction: column;
                        color: white;
}
.section-four .styled-numbers {background-color: rgba(255, 255, 255, 0.2);
                               color: white;
}
.section-four .details,
.section-four .phone-design {flex: 1;
}
.section-four h3 {font-size: 32px;
                  font-weight: 500;
                  font-family: roboto;
}
.section-four p {font-size: 20px;
                 margin-top: -10px;
                 color: rgba(255, 255, 255, 0.7);
                 font-weight: 400;
                 font-family: roboto slab;
                 line-height: 30px;
}
.section-four .step-two {background-color: white;
                         color: #7D49EC;
}
.section-four .step-two .details {color: #7D49EC;
}
.section-four .step-two .styled-numbers {background-color: rgba(125, 73, 236, 0.2);
                                         color: #7D49EC;
}
.section-four .step-two p {color: rgba(125, 73, 236, 0.7);
}

/* section four */

/* ////////////////////////// */


/* ////////////////////////// */

/* section five */

.section-five  .the-container {width: 100%;
                               box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.05);
                               padding: 30px 0;
                               flex-direction: column;
                               text-align: center;
}
.section-five img {height: 120px;
                   width: 120px;
                   border-radius: 50%;
}
.section-five h2 {color: #7D49EC;
                  font-weight: bold;
                  font-family: roboto;
}
.section-five p {font-size: 14px;
                 color: #7E7E7E;
                 margin-top: 0;
                 padding: 0 30px;
                 font-family: roboto slab;
}
.section-five span {color: rgba(125, 73, 236, 0.7);
                    font-size: 12px;
                    text-align: right;
}

/* section five */

/* ////////////////////////// */


/* ////////////////////////// */

/* footer */

footer .container {padding:  0 5%;
}
footer .main-footer {display: flex;
                     flex-wrap: wrap;
                     justify-content: space-between;
                     padding: 10px 0;
}
footer .first-part {flex: 1;
}

footer img {height: 40px;
            width: 150px;
}
footer table {flex: 2;
}
footer th {text-align: left;
           color: #7D49EC;
           padding: 10px 0 20px;
           font-weight: 500;
           font-family: roboto;
}
footer td {color: #7E7E7E;
           padding: 5px 0;
           /* font-weight: 500; */
           font-family: roboto slab;
           font-size: 12px;
}
footer .copyright {background-color: #7D49EC;
                     color: white;
                     text-align: center;
                     padding: 5px 0;
}
footer h2 {color: #7E7E7E;
           font-size: 12px;
           font-family: roboto slab;
           padding-right: 30px;
           font-weight: 400;
}

/* footer */

/* ////////////////////////// */



/* ////////////////////////// */

/* style for smaller screens - screen size 1275px */

@media (max-width: 1275px) {
    /* generals */
    .container {padding: 0 10%;
    }

    /* second one */
    .section-one h1 {font-size: 42px;
                     margin-top: 50px;
    }
    .section-one p {font-size: 20px;
                    line-height: 30px;
    }
}

/* ////////////////////////// */


/* ////////////////////////// */

/* style for smaller screens - screen size 779px */

@media (max-width: 779px) {
    /* generals */
    .container {padding: 0 5%;
    }

    /* header */
    header .container {display: unset;
                       padding: 0 5%;
    }
    header img {padding: 10px 5px;
    }
    header .nav-bar {margin-top: 50px;
                     width: 100%;
                     display: none;
    }
    header .nav-bar.active {display: unset;
    }
    header ul {flex-direction: column;
               text-align: center;
               height: 500px;
    }
    header li {color: #7E7E7E;
              
    }
    header .mobile {justify-content: space-around;
                    /* width: 100; */
    }
    header .mobile i {display: unset;
                      float: right;
                      margin: 20px 20px 0 0;
    }

    /* section one */
    .section-one {padding: 20px 0;
    }
    .section-one h1 {margin: 10px 0;
    }
    .section-one p {font-size: 18px;
    }
    .section-one .second-part img {width: unset;
                                   height: unset;
    }
    
    /* section two */
    .section-two li {width: 50%;
                     margin: 10px 0;
    }

    /* section three */
    .section-three li {width: 40%;
    }

    /* footer */
    footer .container {padding:  0 3%;
    }
    footer img {height: 30px;
                width: 120px;
    }
    footer h2 {font-size: 12px;
               padding-right: 20px;
               line-height: 20px;
    }
    
}

/* ////////////////////////// */


/* ////////////////////////// */

/* style for smaller screens - screen size 379px */

@media (max-width: 379px) {
    /* header */
    .container {padding: 0;
    }

    /* section one */
    .section-one {padding: 0;
    }
    .section-one h1 {margin: 0 0 20px;
                     font-size: 36px;
    }
    .section-one p {margin-top: -10px;
                    font-size: 12px;
                    line-height: 20px;
    }
    .section-one .first-part {display: flex;
                              flex-direction: column;
                              justify-content: center;
                              align-items: center;
                              text-align: center;                   
    }

    /* section two */
    .section-two {padding: 0 10px;
    }
    .section-two li {width: 100%;
                     margin: 10px 0;
    }

    /* section three */
    .section-three li {width: 100%;
    }
    .section-three .more-details {padding: 0 10px;
    }

    /* section four */
    .section-four .details {text-align: center;
    }
    .section-four h3 {font-size: 24px;
    }
    .section-four p {font-size: 16px;
                     line-height: 22px;
    }
    .section-four .main {padding: 0;
    }
    .section-four .step-two,
    .section-four .step-three {padding: 30px 10px;
    }

    /* footer */
    footer img {height: 25px;
                width: 100px;
                padding: 5px 20px;
    }
}

/* ////////////////////////// */