* {box-sizing: border-box;
}

body {background-color: #7D49EC;
}

header {font-size: 20px;
         color: white;
         font-weight: bold;
         margin: 20px;
         text-align: center;
}

main {display: flex;
      justify-content: center;
      align-items: center;
}

.main-container {width: 60%;
                height: fit-content;
                display: flex;
                /* flex-direction: column; */
                flex-wrap: wrap;
                padding: 30px;
                box-sizing: border-box;
}

label {color: white;
}

.input {width: 50%;
}

input, select {border: 1px solid white;
               outline: none;
               background-color: #7D49EC;
               border-radius: 50px;
               width: 250px;
               height: 45px;
               color: white;
               font-size: 12px;
               padding-left: 10px;
               margin: 20px 0 40px 0;
}

.footer {display: flex;
         justify-content: center;
         align-items: center;
}

.footer button {width: 90px;
                height: 35px;
                border-radius: 50px;
                border: none;
                background-color: white;
                color: #7D49EC;
                margin-bottom:10px;
}

.err-input {border-color: red;
            color: red;
}

#err-msg {color: red;
          font-size: 10px;
          /* margin: 50px 0 0; */
          display: none;
}

/* style for smaller screens - screen size 1325px */
@media (max-width: 1325px) {
      .main-container {width: 70%;
      }
}

/* style for smaller screens - screen size 925px */
@media (max-width: 925px) {
      .main-container {width: 85%;
      }
}

/* style for smaller screens - screen size 725px */
@media (max-width: 725px) {
      .main-container {width: 100%;
      }
      label {font-size: 14px;
      }
      input, select {width: 200px;
                     height: 37px;
      }
}

/* style for smaller screens - screen size 495px */
@media (max-width: 495px) {
      label {font-size: 10px;
      }
      input, select {width: 130px;
                     height: 35px;
      }
      .footer button {width: 70px;
                      height: 30px;
                      font-size: 12px;
      }
}